<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>BiNoNb0 si <%=username%></h1>
    <br />
    <a href="/api/createtask">Create a task</a>
    <br />
    <div>
      <h2>All Tasks</h2>
      <% if(task.length > 0) { %> <% task.forEach(task => { %>
      <a href="/api/tasks/<%= task.id %>">
        <h3><%=task.title%></h3>
      </a>
      <% }); %> <% } else { %>
      <p>There are no tasks to display</p>
      <% } %>
    </div>
    <div>
      <label>Important</label>
      <input type="checkbox" name="isImportant" id="isImportant" value="true" />
      <br /><br />
      <label>Completed</label>
      <input type="checkbox" name="isCompleted" id="isCompleted" value="true" />
      <br /><br />
    </div>
    <div>
      <form action="/api/auth/logout" method="post">
        <button>Logout</button>
      </form>
    </div>
  </body>
</html>
