<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <div>
      <%- include('./partials/nav.ejs') %>
      <h1>ERROR: 404</h1>
      <br />
      <h2>OOPS, page not found!</h2>
    </div>
    <br />
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
