<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <a href="/"><h1>Taskers</h1></a>
    <div>
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum minima reiciendis temporibus natus culpa, illum fugit omnis consequatur dolore,
        suscipit incidunt quo blanditiis exercitationem saepe architecto consectetur maiores. Hic, eaque?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum minima reiciendis temporibus natus culpa, illum fugit omnis consequatur dolore,
        suscipit incidunt quo blanditiis exercitationem saepe architecto consectetur maiores. Hic, eaque?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum minima reiciendis temporibus natus culpa, illum fugit omnis consequatur dolore,
        suscipit incidunt quo blanditiis exercitationem saepe architecto consectetur maiores. Hic, eaque?
      </p>
    </div>
    <br />
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
