<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome | Taskers</title>
  </head>
  <body>
    <a href="/"><h1>Taskers</h1></a>
    <h2>A To-Do List Website</h2>
    <h3>Welcome!</h3>
    <a href="/api/login">Login</a>
    <a href="/api/signup">Sign Up</a>
    <br />
    <a href="/about">About Us</a>
    <br /><br /><br />
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
